<!DOCTYPE html>
<html>
	<head>
		<title>Merry Christmas</title>
		<meta charset='utf-8'>
		<link src="https://pic.liesio.com/2020/12/19/0b2f3e2d69ec5.ico" type="icon">
		<script>
			let says = ["夜幕悄悄降临，群星开始闪耀...", "万籁俱寂，没有一点点声音",
			"渐渐一颗流星划过漆黑的夜空，照亮了冰冷的圣诞夜", "所有人都跳下了床，看向了窗外",
			"圣诞树出现了，随着惊异，耸立在夜幕之中", "人们知道，枕边的礼物，是这棵树的主人所送",
			"于是，圣诞老人乘着月光，驾驭这糜鹿，向远方飞去", "平安夜过去了，圣诞节，到了！",
			"圣诞节快乐！所有人互相祝福着", "还有，陈果果，圣诞后的新年，比现在更加快乐！",
			"请记住，兄弟在此，自当挺身而出", "我，还有我们"];
			let treesrc = "https://pic.liesio.com/2020/12/24/7d98d8e147b85.jpeg";
			//let heartsrc = "https://pic.liesio.com/2020/12/24/83daa76cd7b61.jpeg";
			let heartsrc = "https://pic.liesio.com/2020/12/24/83daa76cd7b61.jpeg";
			let happysrc = "https://pic.liesio.com/2020/12/24/8c22726f58975.jpeg";
			let nightsrc = "https://pic.liesio.com/2020/12/24/c761dcb04999a.jpeg";
			let starsrc = "https://pic.liesio.com/2020/12/24/a8ed68a86027e.jpeg";
			let fathersrc = "https://pic.liesio.com/2020/12/24/a3e20e3051905.jpeg";
			let imgs = [nightsrc, starsrc, treesrc, fathersrc, happysrc, heartsrc];
			console.log(imgs.length);
			function ct(ctx) {
				text.innerText = ctx;
			}
			function ci(imgsrc) {
				img.src = imgsrc;
			}
		</script>
	</head>
	<body>
		<p style="font-size: 1.5em; font-weight: bold;
		display: inline-block; height: 2em" id="text" onclick="main()">Happy Christmas!(click)</p>
		<img style="width: 85%; display: inline-block" id='img'/>
		<script>
			let sec = 1000;
			half = 3.5;
			var text = document.getElementById("text");
			var img = document.getElementById('img');
			function main() {
				let index = 0;
				function next(){
					ci(imgs[index]);
					ct(says[index * 2]);
					index += 1;
					if (index > 2) {
						half += 0.3;
					}
					console.log(`half: ${half}s`)
					setTimeout(() => ct(says[index * 2 - 1]), half * sec);
					if (index < imgs.length) {
						console.log(index);
						setTimeout(next, half * sec * 2);
					}
				}
				next()
			}
		</script>
	</body>
</html>
