{% extends "room/base.html" %}


{% block tit %}Room - {{ room.name }}{% endblock %}

{% block styles %}
<link type="text/css" href="{{ url_for('static', filename='css/room-chat.css')}}" rel="stylesheet">
{% endblock styles %}

{% block headscripts %}
{{ super() }}
<script src="/static/js/content.js"></script>
{#
	<script>{% includes "js/content.js" %}</script>
#}
{% endblock %}

{% block navbar %}
<div class="Header">
	<label class="Header" onclick="goBackMain()">Back  </label>
	<h3 class="Header">Chatting {{ room.name }}</h3>
</div>
{% endblock %}

{% block content %}
<div class="Contents" id="Contents">
	<script>
		ctt = document.getElementById('Contents');
		document.body.onload = () => showContent(ctt);
		//ctt.scrollTop = ctt.scrollHeight;
		dataurl = "{{ u }}";
		mainurl = "{{ url_for('room.index' )}}";
	</script>
</div>
<div class="InputLine">
	<form action="" method="POST">
		<input type="text" name="line" name="line" required="required" autofocus="autofocus">
		<input type="submit" value="Submit">
	</form>
</div>
{% if current_user == room.user %}
<div class="Manage">
	<button type="button" onclick="Go('{{ url_for('.droom', u = _u) }}')">Delete Room</button>
	<button type="button" onclick="Go('{{ url_for('.reset', u = _u) }}')">Reset Content</button>
</div>
{% endif %}
{% endblock %}
