{% extends "room/base.html" %}


{% block tit %}Room - {{ room.name }}{% endblock %}

{% block styles %}
<style type="text/css">
div.Header {
	border-bottom: thin gray solid;
	height: 10%
}
div.Header label{
	width: 10%;
	font-weight: bold;
	text-align: left;
	line-height: 1em;
	display: inline;
	white-space: nowrap;
	border-right: thin black solid;
	color: gray;
}
div.Header label:hover {
	background-color: red;
}
div.Header h3 {
	width: 90%;
	display: inline-block;
	margin-block-start: 0em;
	margin-block-end: 0em;
	text-align: center;
}
div.Manage {
	position: fixed;
	width : 20%;
	right: 0em;
	top: 0.3em;
}
div.Manage button {
	font-size: 0.7em
}
div.InputLine {
	position: fixed;
	width: 98%;
	display: inline;
	top: 90%;
	left: 1em;
}
div.InputLine input[type="text"] {
	width: 80%;
	float: left;
	border-width: 3px;
	height: 1.17em;
	font-size: 1.1em;
	border-radius: 10px;
}
div.InputLine input[type="submit"] {
	width: 15%;
	float: right;
	font-size: 1.1em;
	margin-right: 3%
}
div.InputLine input {
	white-space: nowrap;
}
div.Contents {
	position: absolute;
	width: 98%;
	height: 80%;
	border-bottom: thin black solid;
	display: inline-block;
	overflow-y: auto;
	overflow-x: hidden;
}
div.Contents::-webkit-scrollbar-x{
	display: none
}

div.Contents div.main {
	border-bottom: 0.5px gray dashed;
}
div.Contents div.header {
	width: 95%
}
div.Contents div.header p {
	font-weight: bold;
	margin-block-start: 0em;
	margin-block-end: 0em;
	width: 50%;
	float: left;
}
div.Contents div.header time {
	float: right;
	color: gray;
	font-size: 0.8em;
	transform: translateY(0.2em);
}
div.Contents p.ctx {
	width: 100%;
	font-size: 1em;
	text-align: left;
	margin-block-start: 0.3em;
	margin-block-end: 0.3em;
	left: 1em;
	transform: translateX(1em);
}
</style>
{% endblock styles %}

{% block headscripts %}
{{ super() }}
<script src="room/content.js"></script>
{#
	<script>{% includes "js/content.js" %}</script>
#}
{% endblock %}

{% block navbar %}
<div class="Header">
	<label class="Header" onclick="goBackMain()">Back  </label>
	<h3 class="Header">Chatting {{ room.name }}</h3>
</div>
{% endblock %}

{% block content %}
<div class="Contents" id="Contents">
	<script>
		ctt = document.getElementById('Contents');
		showContent(ctt);
		ctt.scrollTop = ctt.scrollHeight;
	</script>
</div>
<div class="InputLine">
	<form action="" method="POST">
		<input type="text" name="line" name="line" required="required" autofocus="autofocus">
		<input type="submit" value="Submit">
	</form>
</div>
{% if current_user == room.user %}
<div class="Manage">
	<button type="button" onclick="Go('{{ url_for('.droom', u = _u) }}')">Delete Room</button>
	<button type="button" onclick="Go('{{ url_for('.reset', u = _u) }}')">Reset Content</button>
</div>
{% endif %}
{% endblock %}
