{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block tit %}Hi 付勇川{% endblock %}

{% macro linker(img) %}
	"{{ url_for('static', filename = 'imgs/' + img)}}"
{% endmacro %}

{% block content %}
<audio src="{{ url_for('static', filename='sound/star-sky.mp3')}}" controls="controls" id="snd"></audio>
<p id="ctx">Start with you!</p>
<img id="img" style="width: 100%; display: inline-block"></img>
<script>
var snd = document.getElementById('snd');
var ctx = document.getElementById('ctx');
var img = document.getElementById('img');
var sents = ["寒假就要到了吧，冬天的苏州园林又会是怎样？", "我不知道，我们都不知道",
	     "成都，多年不下一场雪，而如今...", "漫天飞絮，雪漫天寒，也出现了草丛上的飞雪", 
	     "来自上天的雪，可也落到了此地？", "愿常见，不别", 
	     "生日之歌，以银铃之声唱响", "什么时候能见嫂子也是个问题", 
	     "不过，正事还是，<b>生日快乐</b>", "在此等候，19已至", 
	     "曾有张晓风之不识", "今有你我之亲情"];
var imgs = [{{linker('suzhouyuanling1.jpeg')}}, {{linker('suzhouyuanling2.jpeg')}},
	{{linker('xijiaoliwupu1.jpg')}}, {{linker('xijiaoliwupu2.jpeg')}},
	{{linker('happybirthday1.jpg')}}, {{linker('heart.jpeg')}}];
console.log(imgs)
var s = 0;
//snd.play(); Must interact
snd.onplaying = function(){
	if (s != 0) {return}
	s = 1;
	snd.currentTime = 0;
	snd.removeAttribute('controls');
	snd.innerHTML = ""
	ctx.innerHTML = "生日快乐！ 等等...";
	setTimeout((event) => ctx.innerHTML = "准备好了，我们开始吧！", 3000);
	snd.pause();
	// 3.6s 8拍
	t = 7270
	function ct(i) {
		if (i >= imgs.length) {return};
		img.src = imgs[i];
		ctx.innerHTML = sents[i * 2];
		console.log(i)
		setTimeout(function() { ctx.innerHTML = sents[i * 2 + 1]}, t / 2);
		setTimeout((event) => ct(i + 1), t);
	}
	setTimeout(() => {snd.play();setTimeout(() => ct(0), t / 8)}, t)
}
</script>
{% endblock %}
