{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block tit %}Hi 付勇川{% endblock %}

{% macro linker(img) %}
	"{{ url_for('static', filename = 'imgs/' + img)}}"
{% endmacro %}

{% block content %}
<audio src="{{ url_for('song163.raw') + '?Id=31654478'}}" controls="controls" id="snd"></audio>
<p id="ctx" style="font-size: 1.5em"><small>Start with you!</small></p>
<img id="img" style="width: 100%; display: inline-block"></img>
<script>
var snd = document.getElementById('snd');
var ctx = document.getElementById('ctx');
var img = document.getElementById('img');
var sents = ["寒假就要到了吧，冬天的苏州园林又会是怎样？", "我不知道，我们都不知道",
	     "成都，多年不下一场雪，而如今...", "<b>漫天飞絮，雪漫天寒，也出现了草丛上的飞雪</b>", 
	     "来自上天的雪，可也落到了此地？", "愿常见，不别", 
	     "生日之歌，以<b>银铃之声</b>唱响", "什么时候能见<b><em>嫂子</em></b>也是个问题", 
	     "不过，正事还是，<strong>生日快乐</strong>", "在此等候，<b>十九</b>已至", 
	     "曾有张晓风之<b>不识</b>", "今有你我之<b>情深</b>"];
var imgs = ["https://pic.liesio.com/2021/01/09/d85ce6c693df7.jpeg",
	"https://pic.liesio.com/2021/01/09/f17e0f5899954.jpeg",
	"https://pic.liesio.com/2021/01/09/b1329a003aa0e.jpeg",
	"https://pic.liesio.com/2021/01/09/8a76b9bb9ea46.jpg",
	"https://pic.liesio.com/2021/01/09/d67f92ce12799.jpg",
	"https://pic.liesio.com/2020/12/24/83daa76cd7b61.jpeg"];
var s = 0;
//snd.play(); Must interact
snd.onplaying = function(){
	if (s != 0) {return}
	s = 1;
	snd.currentTime = 0;
	snd.removeAttribute('controls');
	snd.innerHTML = ""
	ctx.innerHTML = "生日快乐！ 等等...";
	setTimeout((event) => ctx.innerHTML = "准备好了，我们开始吧！", 3000);
	snd.pause();
	// 3.6s 8拍
	t = 7270
	function ct(i) {
		if (i >= imgs.length) {return};
		img.src = imgs[i];
		ctx.innerHTML = sents[i * 2];
		setTimeout(function() { ctx.innerHTML = sents[i * 2 + 1]}, t / 2);
		setTimeout((event) => ct(i + 1), t);
	}
	setTimeout(() => {snd.play();setTimeout(() => ct(0), t / 8)}, t)
}
</script>
{% endblock %}
