{% extends "base.html" %}

{% block tit %}CahtRooms{% endblock %}

{% block styles %}
{{ super() }}
<style type="text/css">
.Header {
	border-bottom: thick black solid;
}
.Rooms {
	list-style-type: decimal;
	font-size: 1.25em
}
.Rooms li {
	border-bottom: 1.5px gray dashed;
}
.Rooms p.JI {
	color: blue;
	font-weight: bold;
	cursor: pointer;
}
.Rooms p.JI:hover {
	text-decoration: underline;
}
p.new {
	font-size: 16px;
	color: gray;
}
</style>
{% endblock %}

{% block content %}
<script>
	function GoMain(url) {
		window.location.href = url;
	}
</script>
<h1 class="Header">Room Index<p class="new" onclick="GoMain('{{ url_for('.new')}}')">Want to create a new room? Click Here!</p></h1>
<ul class="Rooms">
	{% for room in rooms %}
	<li><div>
		<p>Room Name: {{ room.name }}</p>
		<p>Owner: {{ room.user.name }}</p>
		<p onclick="GoMain('{{ room.url() }}')" class="JI">Get In!</p>
	</div></li>
	{% endfor %}
</ul>
{% endblock %}
