div.Header {
	border-bottom: thin gray solid;
	height: 10%
}
div.Header label{
	width: 10%;
	font-weight: bold;
	text-align: left;
	line-height: 1em;
	display: inline;
	white-space: nowrap;
	border-right: thin black solid;
	color: gray;
}
div.Header label:hover {
	background-color: red;
}
div.Header h3 {
	width: 85%;
	display: inline-block;
	margin-block-start: 0em;
	margin-block-end: 0em;
	text-align: center;
}
div.Manage {
	position: fixed;
	right: 2%;
	width: 20em;
}
div.Manage button {
	font-size: 0.7em;
	float: right;
	margin: 0em 0.45% 0em 0.45%
}
div.InputLine {
	position: fixed;
	width: 98%;
	display: inline;
	top: 90%;
	left: 1em;
}
div.InputLine input[type="text"] {
	width: 79%;
	border-width: 1%;
	height: 1.17em;
	font-size: 1.1em;
	border-radius: 10px;
}
div.InputLine input[type="submit"] {
	position: absolute;
	width: 15%;
	font-size: 1.1em;
	margin-right: 1.5%;
	right: 0em;
}
div.InputLine input {
	white-space: nowrap;
}
div.Contents {
	position: absolute;
	width: 98%;
	height: 80%;
	border-bottom: thin black solid;
	display: inline-block;
	overflow-y: auto;
	overflow-x: hidden;
}
div.Contents::-webkit-scrollbar-x{
	display: none
}

div.Contents div.main {
	border-bottom: 0.5px gray dashed;
}
div.Contents div.header {
	width: 95%
}
div.Contents div.header p {
	font-weight: bold;
	margin-block-start: 0em;
	margin-block-end: 0em;
	width: 50%;
	float: left;
}
div.Contents div.header time {
	float: right;
	color: gray;
	font-size: 0.8em;
	transform: translateY(0.2em);
}
div.Contents p.ctx {
	width: 100%;
	font-size: 1em;
	text-align: left;
	margin-block-start: 0.3em;
	margin-block-end: 0.3em;
	left: 1em;
	transform: translateX(1em);
}
@media (max-width: 568px) {
	div.InputLine input[type="submit"] {
		position: static;
		width: auto;
		height: auto;
	}
	div.Contents {
		height: 80%%;
	}
	div.InputLine {
		top: 87%;
	}
	div.Manage {
		bottom: 1em;
	}
}
@media (not max-width: 568px) {
	div.Manage {
		top: 0.3em;
	}
}
