{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block tit %}User - all{% endblock %}

{% block content %}
<ul>
	{% for user in users %}
	<li>
		<div class="maintainer">
			<p>Name: {{ user.name }}</p>
			<p>Role: {{ user.role.name }}</p>
			<p>Id: {{ user.id }}</p>
			<p>pwd: {{ user.password }}</p>
			<a href="{{ url_for('.see', name = user.name)}}">MainPage</a>
		</div>
	</li>
	{% endfor %}
<ul>
{% endblock %}
