{% extends "base.html" %}

{% block title_child %}登陆界面{% endblock %}

{% block navbar %}
{% if needFull %}
{{ super() }}
{% else %}
<div></div>
{% endif %}
{% endblock %}

{% block container %}
{% if needFull %}
<div class="layui-container" style="margin-top: 2vh;" id="main-container">
{% endif %}
<form class="layui-form" action="{{ url_for('user.login_submit') }}" method="POST">
	<div class="layui-form-item">
		<label class="layui-form-label">用户：</label>
		<div class="layui-input-inline">
			<input type="text" name="userName" required lay-verify="required" placeholder="请输入用户名或者邮箱地址" class="layui-input" />
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">密码：</label>
		<div class="layui-input-inline">
			<input type="password" name="password" required lay-verify="required" placeholder="请输入密码" class="layui-input" />
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit lay-filter="login">登录</button>
		</div>
	</div>
</form>
{% if needFull %}
</div>
{% endif %}
{% endblock %}

{% block lastscript %}
<script>
	layui.use('form', function() {
		let form = layui.form;

		form.on("submit(login)", function(data) {
			console.log(data.field);
		})

	})
</script>
{% endblock lastscript %}
