{% extends "base.html" %}

{% block tit %}User - {{ user.name }}{% endblock %}

{% block content %}
<h1 style="display: inline">Hey {{ user.name }}</h1>
{% if current_user == user %}
<a href="{{ url_for('.more') }}" style="color: gray; text-decoration:none; font-size: 1em">Change your info</a>
{% endif %}
<style type="text/css">
div.Info {
	display: inline-block;
	height: 11em;
}
div.Info p {
	display: inline-block;
}
img.Image {
	display: inline-block;
	width: 10em;
	vertical-align: top;
	margin-left: 2em;
}
</style>
<div>
	<br>
	<div class="Info">
		<p>Name: {{ user.name }}</p>
		<br>
		<p>Email: {{ user.email }}</p>
		<br>
		<p>Role: {{ user.role.name }}</p>
		<br>
		<p>Gender: {{ user.gender() }}</p>
		<br>
		<p>Id: {{ user.id }}</p>
		<br>
	</div>
</div>
<div>
	{% if False in user.mkd() %}
	<p style="font-size: 1.5em; border-top: thin black solid">{{ user.mkd()[0] }}</p><br>
	{% else %}
	<h4>Description:</h4>
	<div id="{{ user.id }}" style="border: thin black solid; padding: 1em">{{ user.mkd()[0]|safe }}</div>
	{% endif %}
</div>
{% endblock %}
