<!DOCTYPE html>
<html>
{% block html %}
<head>
	{% block head %}
	<title>{% block title %}Jeefy - {% block title_child %}Home{% endblock title_child %}{% endblock title %}</title>

	{% block icon %}
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico' )}}" type='image/x-icon'>
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico' )}}" type="image/x-icon">
	{% endblock icon %}

	{% block metas %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	{% endblock metas %}

	{% block styles %}
	<link href="https://www.layuicdn.com/layui/css/layui.css" rel="stylesheet">
	{% endblock styles %}
	
	{% block headscripts %}
	<!-- <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
	<!-- <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script> -->
	{% endblock headscripts %}

	{% endblock head %}
</head>

<body>
	{% block body %}

	{% block navbar %}
	<ul class="layui-nav layui-bg-green" filter="">
		<li class="layui-nav-item layui-this"><a class="layui-font-18" href="{{ url_for('main.index') }}">Jeefy</a></li>
		<li class="layui-nav-item"><a href="{{ url_for('file.index') }}">文件管理</a></li>
		<li class="layui-nav-item"><a href="{{ url_for('song163.index') }}">音乐</a></li>
		<li class="layui-nav-item"><a href="{{ url_for('room.index' )}}">聊天</a></li>
		<li class="layui-nav-item">
			<a href=""><i class="layui-icon">&#xe66f;</i>我</a>
			{% if user_logined() %}
			<dl class="layui-nav-child">
				<dd><a href="{{ url_for('user.me') }}">我的信息</a></dd>
				<dd><a href="{{ url_for('user.signout') }}">登出</a></dd>
			</dl>
			{% else %}
			<dl class="layui-nav-child">
				<dd><a href="javascript:;" id="login">登录</a></dd>
				<dd><a href="{{ url_for('user.register') }}">注册</a></dd>
			</dl>
			{% endif %}
		</li>
	</ul>
	{% endblock navbar %}
	{% block container %}
	<div class="layui-container" style="margin-top: 2vh;" id="main-container">
	{% block main %}
		<h2 class="layui-font-cyan">Hello {{ name }}</h2>
	{% endblock main %}
	</div>
	{% endblock container %}

	{% endblock body %}

	{% block scripts %}
	<script src="https://www.layuicdn.com/layui/layui.js"></script>
	{% endblock scripts %}

	{% block messages %}
	<script>
function flash_message(msgs, total, i) {
	if (i == total) {return;}
	layui.layer.open({
		title: false,
		content: msgs[i], 
		end : function() {flash_message(msgs, total, i + 1);},
		resize: false,
		time: 3000, // hold for 3 seconds for next
	});
}

layui.use('layer', function(){ 
	layer = layui.layer;
	let msgs = new Array();
	let total = 0;
	{% for msg in get_flashed_messages() %}
	msgs.push("{{ msg }}");
	total += 1;
	{% endfor %}
	let i = 0;
	flash_message(msgs, total, 0);
});
	</script>
	{% endblock messages %}
	
	{% block lastscript %}
	<script>
		layui.use(['element', 'form'], function() {

		});

let loginLayerIndex = -1;

function close_login_layer() {
	console.log("close_login_layer called with loginLayerIndex", loginLayerIndex);
	if (loginLayerIndex >= 0) {
		loginLayerIndex = -1;
		console.log("layer.close, called");
		layui.layer.close(loginLayerIndex);
	}
}

let loginBtn = $("#login");
loginBtn.bind("click", function() {
	$.get('{{ url_for("user.login") }}', {}, function (html) {
		loginLayerIndex = layer.open({
			type: 1,
			content: html,
			area: '400px',
			scrollbar: false,
		});
	});
});

{% if activeLogin %}
loginBtn.click()
{% endif %}
	</script>
	{% endblock lastscript %}
</body>
{% endblock html %}
</html>
