{% extends "base.html" %}

{% block content %}
<div>
	<form action="{{ url_for('.gets') }}" method="get" style="position: absolute">
		<label for="SongId" style="text-align: left"><big>Song Id from 163</big></label><br>
		<input type="text" name="Id" placeholder="1440515553" autofocus="autofocus" required="required" 
		style="width: 400%">
		<br>
		<input type="submit" value="Get It" style="margin-top: 1em; width: 100%" onclick="alert('Wait a moment for getting the song!(Close to continue)')">
	</form>
</div>
{% endblock %}
