{% extends "base.html" %}

{% block tit %}Song{% endblock %}

{% block content %}
<div>
	<form action="{{ url_for('.gets') }}" method="get" style="position: absolute">
		<label for="Song Id" style="text-align: left"><big>Song Id from 163</big></label><br>
		<input type="text" name="Id" placeholder="1440515553" autofocus="autofocus" required="required" 
		style="width: 100%">
		<br>
		<input type="submit" value="Get It" style="margin-top: 1em; width: 50%" onclick="alert('Wait a moment for getting the song!(Close to continue)')">
	</form>
</div>
{#
<div>
	<p style="border-bottom: thin black solid"></p>
	<form action="{{ url_for('.playlists') }}" method="get" style="position: absolute">
		<label for="Playlist Id" style="text-align: left"><big>Playlist Id from 163</big></label><br>
		<input type="text" name="Id" placeholder="6582859963" autofocus="autofocus" required="required" 
		style="width: 100%">
		<br>
		<input type="submit" value="Get It" style="margin-top: 1em; width: 50%" onclick="alert('Wait a moment for getting the playlist songs through a zip file!(Close to continue)')">
	</form>
</div>
#}
{% endblock %}
